#btn {
    background-color: green;
    border: none;
    border-radius: 15px;
    transition: background-color 2s, color 2s; 
    color: white; 
    padding: 10px 20px; 
    
}

#btn:hover {
    color: gray; 
    background-color: lightgreen; 
}