.list1 {
    list-style-type: square;
}
.list2 {
    list-style-type: lower-alpha;
}
.list3 {
    list-style-type: lower-roman;
}
.list4 {
    list-style-type: decimal-leading-zero;
}
.list5 {
    list-style-type: circle;
}