* {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: black;
    transition: all 5s ease;
    width: 100px;
    height: 100px;
}

.btn:hover {
    background-color: lightblue;
    width: 200px;
    margin-left: 750px;
    height: 200px;
}   